# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Modèles & données (JAMAIS dans git)
*.pt
*.onnx
*.engine
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Logs
*.log
runs/
